/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #392467;
    color: #fff;
}

main {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #392467;
    border-bottom: 2px solid #5D3587;
    padding-bottom: 5px;
}

p {
    color: #A367B1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
